<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Journal</title>
    <link rel="stylesheet" href="/public/css/style.css" />

  </head>

  <body>
    <h1>Here be above the body.</h1>
    <div>
      {{{body}}}
    </div>
  </body>
</html>